@charset "utf-8";

.form_txt{
    margin-bottom: 20px;
    width: 250px;
}
.form_chk{
    margin-bottom: 30px;
}
.form_chk label{
    margin-right: 40px;
}
.form_but{
    text-align: center;
} 
body{
    background-image: rgb(117, 214, 228);
}            
 